<!DOCTYPE html>
<html>
<head>
<title>Agents</title>

<style>

body{
    background:#0f172a;
    color:white;
    text-align:center;
    font-family:Arial;
}

h1{
    margin-top:30px;
}

.agent-btn{

    display:block;

    width:300px;

    margin:20px auto;

    padding:15px;

    background:#2563eb;

    color:white;

    text-decoration:none;

    border-radius:10px;

    font-size:18px;
}

.agent-btn:hover{
    background:#1d4ed8;
}

</style>
</head>

<body>

<h1>🤖 Agent Control Center</h1>

<a class="agent-btn" href="/run_research">
🔍 Run Research Agent
</a>

<a class="agent-btn" href="/run_coding">
💻 Run Coding Agent
</a>

<a class="agent-btn" href="/run_testing">
🧪 Run Testing Agent
</a>

<a class="agent-btn" href="/run_report">
📄 Run Report Agent
</a>

<br>

<a href="/dashboard">
⬅ Back Dashboard
</a>

</body>
</html>